@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c1d1e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.group-createElement {
    width: calc(100% - 30%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 76, 255);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    gap: 4px;
}

.group-tasks {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30%);
    height: 580px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    gap: 8px;
    overflow-x: scroll;
}

.group-tasks .task {
    display: flex;
    width: 100%;
    background-color: #d3d5d7;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.task h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}